fieldset, img {border:0}

ol, ul, li {list-style:none}

:focus {outline:none}


body{
	padding: 0;
	margin: 0;
}

body,input,textarea,select,p{
	font-family: 'Open Sans',sans_serif;
	font-size: 16px;
	color: #4c4c4c;
}

p{
	font-size: 16px;
	width: 255px;
	margin: 5px 5px 20px 15px;
}

h1{
	font-size: 25px;
	font-weight: 300;
	color: ;
	text-align: center;
	padding-top: 0px;
	margin-bottom: 10px;
}

html{
	background-color: #ffffff;
}

.testbox{
	margin: 20px auto;
	margin-top: 120px;
	width: 323px;
	height: 343px;
	-webkit-border-radius: 8px/7px;
	-moz-border-radius: 8px/7px;
	border-radius: 8px/7px;
	background-color: #ebebeb;
	-webkit-box-shadow:1px 2px 5px rgba(0,0,0,.31);
	-moz-box-shadow:1px 2px 5px rgba(0,0,0,.31);
	box-shadow: 1px 2px, 5px,rgba(0,0,0,.31);
	border: solid 1px #cbc9c9;

}

/*input[type=radio]
{
	visibility: hidden;
}
*/
form{
	margin:0 30px;
}

/*label.radio{
	cursor: pointer;
	text-indent: 35px;
	overflow: visible;
	display: inline-block;
	position: relative;
	margin-bottom: 15px;
}*/

/*label.radio:before{
	background: #3a57af;
	content: '';
	position: absolute;
	top: 2px;
	left: 0;
	width: 20px;
	height: 20px;
	border-radius: 100%;
}*/

/*label.radio.after{
	opacity: 0;
	content: '';
	position: absolute;
	width: 0.5em;
	height: 0.25em;
	background: transparent;
	top: 7.5px;
	left: 4.5px;
	border: 3px solid #ffffff;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

input[type=radio]:checked + label:after{
	opacity: 1;
}*/

hr{
	color: #a9a9a9;
	opacity: 0.3;
}

input[type=text],input[type=password],input[type=email]{
	width: 200px;
	height: 39px;

	-webkit-border-radius: 0px 4px 4px 0px/5px 5px 5px 4px 4px;
	-moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px;
	border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
	background-color: #fff; 

	-webkit-box-shadow:1px 2px 5px rgba(0,0,0,.09);
	-moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
	box-shadow: 1px 2px 5px rgba(0,0,0,.09);
	border: solid 1px #cbc9c9;
	margin-left: -5px;
	margin-top: 10px;
	padding-left: 0px;
	margin-bottom: 15px;
}

/*input[type=password]
{
	margin-bottom: 25px;
}*/

#icon{
	display: inline-block;
	width: 35px;
	background-color: #3a57af;
	padding: 8px 0px 8px 15px;
	margin-left: 15px;
	-webkit-border-radius: 4px 0px 0px 4px;
	-moz-border-radius: 4px 0px 0px 4px;
	border-radius: 4px 0px 0px 4px;
	color: white;

	-webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
	-moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
	box-shadow:  1px 2px 5px rgba(0,0,0,.09);
	border: solid 0px #cbc9c9;	
}

/*
.gender{
	margin-left: 30px;
	margin-bottom: 5px;
}


.accountType{
	margin-left: 8px;
	margin-top: 20px;
}*/



input[type=submit]
{
	font-size: 14px;
	font-weight: 600;
	color: white;
	/*padding: 6px 25px 0px 20px;*/
	margin: 0px 3px 20px 5px;
	/*display: inline-block;*/
	float: center;
	text-decoration: none;
	width: 240px;
	height: 39px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	background-color: #3a57af;

	-webkit-box-shadow:0 3px rgba(58,87,175,.75);
	-moz-box-shadow:0 3px rgba(58,87,175,.75);	
	box-shadow: 0 3px rgba(58,87,175,.75);
	transition: all 0.1s linear 0s;
	top: 0px;
	position: relative;
	margin-left: 10px;
}

input[type=submit]:hover{
	top: 3px;
	background-color: #2e458b;
	-webkit-box-shadow: none; 
  	-moz-box-shadow: none; 
  	box-shadow: none;
}


.msg_box{
	background-color: #ffffff;
	border: 2px solid #3a57af; 
	border-radius: 10px;
	height: 50px;
	width:  343px;
	margin-left: 30%;
	display: none;
}


